@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: slategrey;
    font-family: 'Oswald', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    
    h1 {
        text-align: center;
    }
    #bioPhoto {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
    }

}

#projectsPage {
    margin-top: 75px;
    margin-bottom: 50px;
    #projectCards {
        padding-top: 10px;
        h3 {
            padding-top: 10px;
        }
    }
}

// #projectsPage {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
// } .project-cards {
//     border: solid black 2px;
//     margin: 1%;
//     text-align: center;
//     border-radius: 5%;
//     background-color: darkblue;
//     color: white;
//     padding: 10px;
//     max-width: 45%;
//     .project-img {
//         max-width: 250px;
//     }
// }

#bioPage {
    color: papayawhip;
    max-width: auto;
    margin: 50px;
    text-align: center;
}

#technologiesPage {
    h3{
        text-align: center;
    }
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: snow;
    #technologyContainer {
        display: flex;
        justify-content: space-evenly;
    } #babel {
        margin-top: 40px;
    }
   
}

.techImg {
    text-align: center;
    max-width: 100px;
    max-height: 100px;
}

footer {
    font-weight: bolder;
    text-align: center;
    background-color: snow;
}
