@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: slategrey;
    font-family: 'Oswald', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    
    h1 {
        text-align: center;
    }
    #bioPhoto {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
    }

}

h1 {
    text-align: center;
}

#projectsPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} .project-cards {
    border: solid black 2px;
    margin: 1%;
    text-align: center;
    border-radius: 5%;
    background-color: darkblue;
    color: white;
    padding: 10px;
    max-width: 45%;
    .project-img {
        max-width: 250px;
    }
}

h3 {
    text-align: center;
}

li {
    text-align: center;
    list-style-type: none;

}

p {
    text-align: center;
}

h4 {
    text-align: center;
}

#bioTechContainer {
    display: flex;
    flex-direction: row;
}

#bioPage {
    max-width: 600px;
    margin: 10px;
}

#technologiesPage {
    margin: 10px;
}
