@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: slategrey;
    font-family: 'Oswald', sans-serif;
}

nav {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-evenly;
    
    h1 {
        text-align: center;
        margin-left: 150px;
        span:hover {
            color: green;
        }
        span {
            font-weight: bolder;
        }
    }
    #bioPhoto {
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        margin-left: 100px;
    } 
    a:hover {
        font-size: xx-large;
        font-weight: bolder;
        border: solid green 2px;
        
    }
    a {
        font-size: x-large;
        color: blue;
    }

}

.projectsTitle {
    color:snow;
    text-align: center;
    margin-top: 15px;
    font-size: 100px;
    span {
        font-weight: bolder;
        text-decoration: underline;
    }
}

#projectsPage {
    margin-top: 75px;
    margin-bottom: 50px;
    #projectCards {
        padding-top: 10px;
        h2 {
            padding-top: 10px;
        }
    }
}

// #projectsPage {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
// } .project-cards {
//     border: solid black 2px;
//     margin: 1%;
//     text-align: center;
//     border-radius: 5%;
//     background-color: darkblue;
//     color: white;
//     padding: 10px;
//     max-width: 45%;
//     .project-img {
//         max-width: 250px;
//     }
// }

#bioPage {
    color: snow;
    max-width: auto;
    margin: 50px;
    text-align: center;
    h2{
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 100px;
    }
    p {
        font-size: 25px;
    }
}

#technologiesPage {
    h2{
        text-align: center;
        font-size: 100px;
        span {
            font-weight: bolder;
            text-decoration: underline;
        }
    }
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: snow;
    #technologyContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .techImgBox {
            text-align: center;
            padding: 15px;
            .techImg {
                max-width: 100px;
                max-height: 100px;
                p {
                    font-size: 25px;
                }
            }
        }
    }   #babel {
        margin-top: 40px;
        p {
            margin-top: 13px;
        }
    }
   
}


#contactInfo {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
    text-align: center;
    background-color: snow;
    h4:hover {
        font-size: xx-large;
        color: green;
        text-decoration: underline;
    }
    p {
        font-size: xx-large;
    }
    a {
        font-size: xx-large;
    }
}

footer {
    text-align: center;
    font-size: 25px;
    padding: 25px;
    span {
        font-size: small;
        margin-bottom: 250px;
    }
}
